<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=500">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<meta Http-Equiv="Cache-Control" Content="no-cache">
	<meta Http-Equiv="Pragma" Content="no-cache">
	<meta Http-Equiv="Expires" Content="0">
	<meta Http-Equiv="Pragma-directive: no-cache">
	<meta Http-Equiv="Cache-directive: no-cache">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	{% if title %}
	<title> {{ title }} - Baroness </title>
	{% else %}
	<title> Des Bierbarons Helferin - Baroness </title>
	{% endif  %}
</head>

<body>
	<!-- Menu -->
	<div class="tops">
		<h1> {{ title }} - Baroness</h1>
		<a href="/index"><div class="item">Home</div></a>
		<a href="/fridges"><div class="item">Kühlschränke</div></a>
		{% if user %}
		<a href="/logout"><div class="item" style="float:right;">Logout</div></a>
		<a href="/consume"><div class="item">Konsumieren</div></a>
		<a href="/personal"><div class="item">Personal</div></a>
		<a href="/selfmanagement"><div class="item">Einstellungen</div></a>
		{% if user.isbaron %}
		<a href="/billing"><div class="item">Billing</div></a>
		<a href="/manage_beverages"><div class="item">Konsumatverwaltung</div></a>
		<a href="/manage_users"><div class="item">Konsumentenverwaltung</div></a>
		{% endif %}
		{% else %}
		<a href="/login"><div class="item" style="float:right;">Login</div></a>
		{% endif %}
	</div>
	{% if user %}
	<div class="loggedin">
	Du bist eingeloggt als {{user.longname}}
	</div>
	{% endif %}
	<div class="mainblock">
	{% block content %}{% endblock %}
	</div>
</body>

</html>
