{% extends "base.html"%}
{% set title = "Persönliche Rechnung versenden" %}
{% block content %}
	{% if success %}
		<p>{{ success }}</p>
	{% endif %}
	<h1>Rechnung an {{user_to_bill.longname}} verschicken</h1>
	<form name="billing" method="post" action="/billing/send_personal_bill/{{user_to_bill.name}}">
		Betreff:<input type="text" name="subject" value="{{emailsubject}}"/> <br />
        <textarea cols="80" rows="20" name="message">
{{emailtext}}
</textarea><br />
		<input type="submit" value="Email versenden">
	</form>
	<p>An alle User Rechnungen <a href="/billing/send_all_bills"> versenden</a>.</p>

{% endblock %}