{% extends "base.html"%}
{% set title = "Rechnungen versenden" %}
{% block content %}
	<h3>TODO: </h3>
	<ul>
		<li>implement paying</li>
	</ul>
	{% if success %}
		<p>{{ success }}</p>
	{% endif %}
	<h1>Abrechnung</h1>
	<p>An alle User Rechnungen <a href="/billing/send_all_bills"> versenden</a>.</p>
	<form name="billing" method="post" action="/billing">
		<table>
			<tr>
				<th>Name</th>
				<th>Geschwärzt</th>
				<th>Schulden</th>
				<th>Bezahlt</th>
				<th></th>
			</tr>
			{% for user in users %}
			<tr>
				<td>{{user.longname}}</td>
				<td>{% if user.isblack %} &#9745; {% else %} &#9744; {% endif %}</td>
				<td>{{dept}} € </td>
				<td> <input  type="number" name="{{user.name}}_payed" step="any" required value="0" /> € </td>
				<td>Einzelne Rechnung <a href="/billing/send_personal_bill/{{user.name}}">versenden</a></td>
			</tr>
			{% endfor %}
		</table>
		<input type="submit" value="Änderungen übernehmen">
	</form>
{% endblock %}