{% extends "base.html"%}
{% set title = "An alle User Rechnungen versenden" %}
{% block content %}
	<h3>TODO: </h3>
	<ul>
		<li>actual send emails</li>
        <li>save default text somewhere and make it configureable</li>
		<li>insert the right ammount of dept</li>
	</ul>
	{% if success %}
		<p>{{ success }}</p>
	{% endif %}
	<h1>Rechnung an alle verschicken</h1>
	<form name="billing" method="post" action="/billing/send_all_bills">
		Betreff:<input type="text" name="subject" value="{{emailsubject}}"/> <br />
        <textarea cols="80" rows="20" name="message">
{{emailtext}}
</textarea><br />
		<p> Warnung: Das versenden vieler emails dauert ein weilchen. (kann länger als eine Minute sein)</p>
		<input type="submit" value="Email versenden">
	</form>

	<h1>Kommandos</h1>
	<p>Der text den du eingibst wird von der Baroness noch personalisiert. Folgende Komandos kennt die Baroness.</p>
	<ul>
		<li> <b>%%longname%%</b> fügt den vollen namen des Benutzers ein.</li>
		<li> <b>%%dept%%</b> fügt die Höhe der Schulden des Benutzers ein. </li>
		<li> <b>%%if_is_black%% TEXT %%end_if_is_black%%</b> fügt den TEXT ein, falls der user geschwärzt ist.</li>
	</ul>
{% endblock %}