{% extends "base.html"%}
{% set title = "Konsumieren" %}
{% block content %}
	<h1> Konsumieren </h1>
	{% if message %}
		<div class="loggedin"> {{ message }} </div>
	{% endif %}
	<div>
		{% if user.isblack %}
			Sorry, du bist geschwärzt!
		{% else %}
			<h2>Möchtest du etwas konsumieren?</h2>
			{% for product in products %}
				{% if product.isshown %}
					<a href="/consume?prodid={{product.id}}">
						<div class="product">
							<!-- Produkt {{ product.id }} <br>-->
							<div class="center">
								<h2>{{product.name}}</h2>
								{% set fils = "product_%s.png" % product.name %}
								<img src="{{ url_for('static', filename=fils) }}?{{timestamp}}" /><br>
							</div>
							<div class="right">
							{{"%0.2f" % product.price}} €
							</div>
						</div>
					</a>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
