{% extends "base.html"%}
{% set title = "Konsumieren" %}
{% block content %}
	<h3>TODO: </h3>
	<ul>
		<li>add photos for products, add photos in database</li>
	</ul>
	<h1> Konsumieren </h1>
	{% if message %}
		<p> {{ message }} </p>
	{% endif %}
	<p>
		{% if user.isblack %}
			Sorry, du bist geschwärzt!
		{% else %}
			Möchtest du etwas konsumieren?
			{% for product in products %}
				{% if product.isshown %}
					<div><p> {{ product.id }}, <a href="/consume?prodid={{product.id}}"> {{product.name}} </a>, {{"%0.2f" % product.price}} € </p> </div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</p>
{% endblock %}
