{% extends "base.html"%}
{% set title = "Bierliste" %}
{% block content %}
	<h1> Bierliste </h1>
	<img src="{{ url_for('static', filename='bierliste_small.png') }}?{{timestamp}}" style="width:100%;max-width:990px;">
	<!-- <table>
  		<tr>
    		<th>ID</th>
    		<th>Produkt Nummer</th>
    		<th>Konsument</th>
			<th>Preis</th>
			<th>Zeit</th>
  		</tr>
		{% for consumption in consumed %}
		<tr>
			<td>{{consumption.id}}</td>
			<td>{{consumption.prodnr}}</td>
			<td>{{consumption.consumer}}</td>
			<td>{{consumption.price}}</td>
			<td>{{consumption.time}}</td>
		</tr>
		{% endfor %}
	</table> -->
{% endblock %}
