{% extends "base.html"%}
{% set title = "Bierliste" %}
{% block content %}
	<h3>TODO: </h3>
	<ul>
		<li> graphical beer list</li>
        <img src="{{ url_for('static', filename='total.png') }}">
        {% if user %}
        {% set fils = "total%03d.png" % user.id %}
    	<img src="{{ url_for('static', filename=fils) }}">
	    {% endif %}

	</ul>
	<h1> Bierliste </h1>
	<img src="{{ url_for('static', filename='bierliste_small.png') }}">
	<table>
  		<tr>
    		<th>ID</th>
    		<th>Produkt Nummer</th>
    		<th>Konsument</th>
			<th>Preis</th>
			<th>Zeit</th>
  		</tr>
		{% for consumption in consumed %}
		<tr>
			<td>{{consumption.id}}</td>
			<td>{{consumption.prodnr}}</td>
			<td>{{consumption.consumer}}</td>
			<td>{{consumption.price}}</td>
			<td>{{consumption.time}}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
