{% extends "base.html"%}
{% set title = "Konsumatverwaltung" %}
{% block content %}
	<h1> Konsumatverwaltung </h1>
    <table>
  		<tr>
    		<th>ID</th>
    		<th>Name</th>
    		<th>Preis</th>
			<th>Wird angezeigt</th>
            <th></th>
  		</tr>
		{% for product in products %}
		<tr>
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
            <td>{% if product.isshown %} &#9745; {% else %} &#9744; {% endif %} </td>
			<td> <a href="/manage_beverages/edit/{{product.name}}">bearbeiten</a></td>
		</tr>
		{% endfor %}
    </table>
    <br />
    <a href=/manage_beverages/add><div class="item">Getränk Hinzufügen</div></a>
{% endblock %}