{% extends "base.html"%}
{% set title = "Konsumentenverwaltung" %}
{% block content %}
	<h1> Einstellungen ändern </h1>
		{% if success %}
                <div class="somethinggood"> {{ success }} </div>
		{% endif %}
	<form name="user" method="post" action="/selfmanagement">
                <fieldset><legend>Euml IDs</legend>
		Die Euml ID wird angezeigt wenn du ein unbekanntes RFID Tag an den RFID reader hältst.
		<br><b>Euml ID</b> (falls mehrere durch ; trennen):<br><input type="text" name=rfid_id value="{{ user.rfid_id }}"><br>
		</fieldset>		

		<br><fieldset><legend>RFID Kreuzen</legend>
		Falls du nicht in der Liste am Touchscreen angezeigt werden willst, musst du hier ein Kreuz setzen.
		<br><b>Nur RFID-kreuzen</b><input type="checkbox" name="onlyrfid" {% if user.onlyrfid %} checked {% endif %} /><br>
                </fieldset>

		<br><fieldset><legend>Passwort ändern</legend>
		Falls du ein neues Passwort eingibst wird dieses geändert.<br>
		<b>Neues Passwort:</b><br><input type="password" name=password1 placeholder="Password"><br>
		<b>Neues Passwort wiederholen:</b><br><input type="password" name=password2 placeholder="Password"><br>
		</fieldset>

                <br>
		Du musst für jede Änderung dein <b>aktuelles Passwort</b> eingeben.
		<br><input type="password" name=password_old required placeholder="Password"><br>
		<input type="submit" value="Übernehmen">
	</form>
{% endblock %}
